<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472607819018-pc5qe3nbnp01j55ej145kk10jovt1fmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472607819018-pc5qe3nbnp01j55ej145kk10jovt1fmm</string>
	<key>API_KEY</key>
	<string>AIzaSyDA_H6Jnxz-1HomFjwTDfzp_lmkTIhPNRM</string>
	<key>GCM_SENDER_ID</key>
	<string>472607819018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HabitTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>habittracker-swiftui-aec4f</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-swiftui-aec4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472607819018:ios:cc639c0b321c06d0ca66f3</string>
</dict>
</plist>